{% extends "base.html" %} {% block content %}
<div class="card bg-light my-4" style="width:400px">
  <div class="card-header"><h4>Add Course</h4></div>
  <div class="card-body">
    <form action="" method="post">
      {{ form.hidden_tag() }} {{ form.course_id.label }}<br />
      {{ form.course_id(size=32, class_="form-control") }}<br />
      {% for error in form.course_id.errors %}
      <span style="color : red;">[{{ error }}]</span>
      {% endfor %} {{ form.course_name.label }}<br />
      {{ form.course_name(size=32, class_="form-control") }}<br />
      {% for error in form.course_name.errors %}
      <span style="color : red;">[{{ error }}]</span>
      {% endfor %} {{ form.ic_id.label }}<br />
      {{ form.ic_id(class_="form-control")}}<br />
      {% for error in form.ic_id.errors %}
      <span style="color : red;">[{{ error }}]</span>
      {% endfor %}
      <br />
      <div class="text-center">
        {{ form.submit() }}
      </div>
    </form>
  </div>
</div>

{% endblock %}
