{% extends "base.html" %}

{% block content %}
  <h1>Enroll Course</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.faculty_email.label }}<br>
      {{ form.faculty_email(size=32) }}<br>
      {% for error in form.faculty_email.errors %}
      <span style="color : red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.course.label }}<br>
      {{ form.course }}<br>
      {% for error in form.course.errors %}
      <span style="color : red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.submit() }}
    </p>
  </form>
{% endblock %}