{% extends "base.html" %} {% block content %}
<h1>Problems for Quiz {{quiz_id}}</h1>
<form action="" method="post">
    {% for problem in problems %}
    <div>
        <p>{{problem.statement}}</p>
        <p><input type="radio" name="{{problem.pid}}" value="A" size="100"/>
        {{problem.option1}}</p>
        <p><input type="radio" name="{{problem.pid}}" value="B" size="100"/>
        {{problem.option2}}</p>
        <p><input type="radio" name="{{problem.pid}}" value="C" size="100"/>
        {{problem.option3}}</p>
        <p><input type="radio" name="{{problem.pid}}" value="D" size="100"/>
        {{problem.option4}}</p>
        <p><input type="radio" name="{{problem.pid}}" value="E" size="100"/>
        {{"Leave Question"}}</p>
        <br />
        <hr />
    </div>
    {% endfor %}
    <input type="submit" />
</form>
{% endblock %}
